<div class="modal-header">
  <h4 class="modal-title">{{ options.header }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ options.message }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Confirm')">{{options.confirm}}</button>
  <button type="button" class="btn btn-outline-light" (click)="activeModal.dismiss('Cancel')">{{options.cancel}}</button>
</div>